#welcome {
  background-color: #333;
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all .25s cubic-bezier(.25,.25,.75,.75);
  opacity: 0;
  div {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    button {
      background-color: #666;
      border: none;
      color: white;
      margin: 1em 0 0 0;
      padding: 10px;
    }
    h3 {
      margin: 0;
    }
    p {
      font-size: 12px;
      padding: 0 10%;
    }
  }
  &.visible {
    opacity: 1;
  }
}